<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | 4UM </title>
    <link rel='stylesheet' href= 'stylesheets/login.css'/>
</head>
<body>
<div id="login">
    <span>Login into 4UM</span>
    <form id="loginForm" method="post" action="/login">
        <input type="email" name="email" placeholder="Email Address" required/>
        <input type="password" name="password" placeholder="Password" required/>
    </form>
    <% if (fail) { %>
        <div class="fail">The email address or password you entered is incorrect</div>
    <% } %>
    <button type="submit" form="loginForm" id="loginBtn">Log In</button>
    <a href="/register">Create an Account</a>
    <a href="/recover">Recover Account</a>
</div>

<script src="javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="javascripts/register.js"></script>

</body>
</html>
